body{
    margin: 0;
}
body.bg_aqua {
    background-color: aqua;

}

.fon2{
    background-image: url("./img/fon_besshovniy_cian4.jpg");
    background-size: 100%;
}

.bg_pink{
    background-color: pink;
}

.center{
    text-align: center;
}

h1{
    font-size: 30px;
    color: #9d0c79e8;
    text-align: center;
    background-color: pink;
    border-style: solid;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;

}

h2{
    font-size: 20px;
    color: black;
    text-align: left;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: black;
    /* border-left: 2px solid black; */
    margin: 20px;
    padding: 10px;

}

p{
    font-size: 20px;
    /* background-image: url("./img/fon_besshovniy_cian5.jpg"); */
    /* background-color: aqua; */
    background: rgba(255, 255, 255, 0.6); /* Полупрозрачный фон */
    color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

ul{
    width: 100%;
    font-size: 15px;
    color: black;
    list-style-position: inside;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

ol{
    font-size: 15px;
    color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.test{
    width: 100%;
    text-align:  center;
    }

.center_ol{
    display: inline-block
    }

li{
    text-align: left;
    }


.content{
    display: flex;
    margin: 20px;
}    

.content-left{
    /* margin: 20px; */
    margin: 50px 20px 20px 20px;
    padding: 20px;
    background: rgba(255, 128, 255, 0.6); 
    border-radius: 5%;
}

.content-right{
    /* margin: 20px; */
    margin: 50px 20px 20px 20px;
    padding: 20px;
    background: rgba(255, 255, 128, 0.6); 
    border-radius: 5%;
    display: flex;
    align-items: center;
}

img{
    /* padding: 30px; */
    /* display: flex;
    align-items: center; */
}

.img_gorizont{
    width: 200px;
    height: 200px;
    /* display: block; */
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin: 10px auto 10px; */
}

.header{
    margin: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: darkcyan;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: right;
    z-index: 1;
}

.btn_header{
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    height: max-content;
    color: white;
}
.btn_header_1{
    margin: 10px;
    padding: 5px;
    height: max-content;
    color: white;
}

.a_header{
    color: white;
    text-decoration: none;
}

.body_container{
    /* margin-top: 0px; */
    display: flex;
    flex-direction: column;
}

.container{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.container-2{
    background-color: aquamarine;
    height: 400px;
    margin: 30px;
    display: flex;
    align-items: center;
}

.container-3{
    background-color: rgb(52, 246, 101);
    border: 2px dashed black;
    /* height: 500px; */
    margin: 30px;
    display: flex;
    /* элементы выстраиваются в строку */
    flex-direction: row; 
    /* элементы перемещаются на другую строку, если не уместились, размер не изменяют */
    flex-wrap: wrap;
    /* между блоками одинаковые зазоры по всей ширине */
    justify-content: space-between;
}
.container-4{
    background-color: white;
    border: 4px dotted black;
    height: 600px;
    margin: 30px;
    display: flex;
    /* элементы выстраиваются в столбец */
    flex-direction: column; 
    position: relative;
    z-index: -1;
}

.block{
 width: 200px;
 height: 200px;
 background-color: blue;
 margin-left: auto;
 margin-right: auto;
 margin-top: 10px;
 margin-bottom: 10px;
 /* margin: 10px auto 10px; */
 /* margin: 0 auto; */
}

.block-2{
 width: 200px;
 height: 200px;
 background-color: red;
 margin: 0 auto;
}

.block-3{
    width: 200px;
    height: 200px;
    background-color: rgb(81, 58, 122);
    margin: 10px;
   }
   
.block-4{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(234, 8, 144);
    margin: 10px;
}

.position-1{
    position: absolute;
    left: 50px;
    top: 50px;
}

.position-2{
    position: absolute;
    left: 150px;
    top: 150px;
}
.position-3{
    position: absolute;
    left: 250px;
    top: 250px;
}
.content_pos{
    padding-top: 70px;
}

.fixed_cat{
    margin: 0px;
    width: 100px;
    height: 100px;
    padding: 0px 0px 0px 0px;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    /* justify-content: right; */
}
