table{
    width: 70%;
    margin: auto;
}
table, th, td{

    border: 1px solid blue;
    border-collapse: collapse;
    /* background-color: aqua; */
}
th, td{
    padding: 7px 30px;
}
th{
    background-color: rgb(14, 174, 174); 
    color: white;
    text-align: left;
}
td{
    text-align: center;
}
caption{
    font-size: 200%;
    font-family: 'Lucida Sans';
}
tr:nth-child(3n){
    background-color: rgb(204, 243, 247);
}
tr:nth-child(3n+1){
    background-color: rgb(190, 248, 190);
}
tr:nth-child(3n+2){
    background-color: rgb(253, 212, 232);
}
tr:hover{
    background-color:darkgray;
}
